body{
    background-image:linear-gradient(pink,rgb(99, 2, 211));
    height:100vh;
}

h1 {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 5vw;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(77, 2, 252), purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom:0.5px;
    margin-top:5px;
  }

  @media screen and (min-width: 51em) {
    /* 51em is equal to 51 times the font-size of the root element (usually 16px) */
    h1 {
      font-size: calc(5vw);
    }
  }

.logo{
    display:block;
    margin:-10px auto;
    margin:auto;
    width:150px;
}

.container{
    max-width: 560px;
    border:2px solid black;
    /* background-color: rgb(243, 211, 211); */
    background-image:url("bgd.png") ;
    border-radius: 5px;;
    margin: auto;
    height:60vh;
    overflow-y: auto;
    /* padding:10px; */
}

.message{
    /* background-color: rgb(229, 216, 234); */
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    clear: both;
    margin: 20px 15px;
    padding: 2px;
}

.left{
    background-color: rgb(209, 227, 255);
    float:left;
}

.right{
    background-color: rgb(219, 254, 167);
    float:right;
}

#send-container{
    text-align:center; /* Can be used to center elements in a container also */
    max-width:995px;
    display:block;
    margin:2px auto; 
}

#messageInp{
    width: 50%;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 3px 0px;
}

.btn{
    cursor:pointer;
    border:2px solid black;
    border-radius: 3px;
    height: 24px;
    margin: 3px 0px;
}

.message {
    max-width: 80%;
    padding: 10px;
    border-radius: 15px;
    /* background-color: #F7F7F7; */
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
    animation-name: growAndShrink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
  
  @keyframes growAndShrink {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

.send{
  display: none;
}

.container{
  display: none;
}

.navhead{
  display: none;
}

/* Flexbox container for centering */
.checkcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
}

/* Styles for h1 element */
.checkheading {
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-size: 5em;
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(77, 2, 252), purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  flex: 1;
}

/* Styles for logo element */
.checklogo {
  display: block;
  margin: auto;
  width: 150px;
  flex: 1;
}

